<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<appSettings>
		<!-- Go to http://partnercenterservice.microsoft.com/pc/pc/APIIntegration to onboard your application-->
		<add key="AppId" value="5b4d0399-3da7-4dd9-84ff-8ceba0cc989d" />
		<add key="Key" value="TgO7RJPCi1RQMJN+w1kQe1y5okzD77lvCAvlxkWpm6E=" />
		<!-- Go to http://partnercenterservice.microsoft.com/pc/AccountSettings/TenantProfile to get this information-->
		<add key="MicrosoftId" value="e9894580-3eea-4256-a1f6-bf943fe74a25" />
		<add key="DefaultDomain" value="cspsandbox7.onmicrosoft.com" />
		<!-- If you an existing Customer, this is the Microsoft Id of that existing customer
				 Replace the string below with the id of the customer
				 You can get this by 
						 1. going to Partner center at https://partnercenter.microsoft.com/
						 2. Sign in with your credentials
						 3. Click View Customers
						 4. Expand the customer you are interested in by clicking on the chevron (down arrow)
						 5. You will find the Microsoft ID, copy that value to this variable
				-->
		<add key="ExistingCustomerMicrosoftId" value="b3104470-fd0e-4134-a293-c434d3b72755" />
		
		<!-- The scenario to be run (0 to 10)-->
		<add key="scenario" value="0" /> 
		
		<!-- The RateCard Data will be written to this file-->
		<add key="FilePathForRateCard" value="" />

		<!--Required for 'Create VM' Scenario. Must belong to customer id above-->
		<add key="AzureSubscriptionId" value="86907535-b399-4f3f-9063-279f1b8f49eb" />
		<!-- Go to "https://manage.windowsazure.com/#Workspaces/ActiveDirectoryExtension/directory" to onboard your application-->
		<add key="AzureAppId" value="970a7fd9-cb0f-4046-907e-c17671cb2958" />
		<!-- Create a Generic Credential in Credential Manager. Enter the "Internet or network address" -->
		<add key="CredentialName" value="CSP-Azure-Sample"/>

		<!--Required for Transition Subscription Scenario-->
		<add key="Office365SubscriptionId" value="" />
		
	</appSettings>
	
</configuration>