<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- Go to http://partnercenterservice.microsoft.com/pc/pc/APIIntegration to onboard your application-->
    <add key="AppId" value="Your App Id"/>
    <add key="Key" value="Your key goes here"/>

    <!-- Go to http://partnercenterservice.microsoft.com/pc/AccountSettings/TenantProfile to get this information-->
    <add key="MicrosoftId" value="Your Organization Microsoft Id"/>
    <add key="DefaultDomain" value="Your default domain, something like contoso.onmicrosoft.com"/>

    <!-- If you an existing Customer, this is the Microsoft Id of that existing customer
         Replace the string below with the id of the customer
         You can get this by 
             1. going to Partner center at https://partnercenter.microsoft.com/
             2. Sign in with your credentials
             3. Click View Customers
             4. Expand the customer you are interested in by clicking on the chevron (down arrow)
             5. You will find the Microsoft ID, copy that value to this variable
        -->
    <add key="ExistingCustomerMicrosoftId" value="Your existing customer ID" />

  </appSettings>
</configuration>