<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Microsoft ID from https://partnercenter.microsoft.com/en-us/pc/AccountSettings/TenantProfile  -->
		<add key="MicrosoftId" value="e9894580-3eea-4256-a1f6-bf943fe74a25" />

		<!-- If you an existing Customer, this is the Microsoft Id of that existing customer
				 Replace the string below with the id of the customer
				 You can get this by 
						 1. going to Partner center at https://partnercenter.microsoft.com/
						 2. Sign in with your credentials
						 3. Click View Customers
						 4. Expand the customer you are interested in by clicking on the chevron (down arrow)
						 5. You will find the Microsoft ID, copy that value to this variable
				-->
		<add key="ExistingCustomerMicrosoftId" value="34386a5d-c7ce-4901-8005-456aec195dc7" />


		<!-- Go to "https://manage.windowsazure.com/#Workspaces/ActiveDirectoryExtension/directory" to onboard your application-->
		<add key="AppId" value="970a7fd9-cb0f-4046-907e-c17671cb2958" />
		<!--Required for 'Create VM' Scenario-->
		<add key="AzureSubscriptionId" value="0f891213-cef5-4121-abf6-bc34fb2147f9" />
		<!-- Create a Generic Credential in Credential Manager. Enter the "Internet or network address" -->
		<add key="CredentialName" value="CSP-Azure-Sample"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
</configuration>